# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.gitignore
.idea/
target/
*.cmd
mvnw
.logs/
.mvn/
.editorconfig
README.md
angular.json
e2e/
package-lock.json
package.json
src/app/app.component.html
src/app/app.component.less
src/app/app.component.spec.ts
src/app/app.component.ts
src/app/app.module.ts
src/app/utils/
src/assets/
src/browserslist
src/environments/
src/favicon.ico
src/index.html
src/karma.conf.js
src/main.ts
src/polyfills.ts
src/styles.less
src/test.ts
src/tsconfig.app.json
src/tsconfig.spec.json
src/tslint.json
tsconfig.json
tslint.json
src/main/java/com/lnlr/security/pojo/slave/
